<%= form_for(@user, html: {class: "well"}) do |f| %>
  <%= render 'fields', f: f %>
  
  
  <div class="form-actions">
    <%= f.submit "Create Account", class: "btn btn-primary" %>
    <%= f.button "Cancel", class: "btn" %>
  </div>
<% end %>
