<% provide(:title,'Sign Up')%>

<div class="center hero-unit">
  <h1>Sign Up</h1>
  <p>Please sign up to get started with your reviews.</p>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', users_path %>
