<% provide(:title,'Register')%>

<div class="center hero-unit">
  <h1>Register</h1>
  <p>Once you register your organization, you can get started with your team's reviews.</p>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= render 'new_form' %>
  </div>
</div>

