<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>MultiRate.Me</h1>

  <p>This is the home page for the MultiRate.Me application.</p>

  <%= link_to "Register now!", register_path, class: "btn btn-large btn-primary" %>
</div>
