<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Multirate.Me</h1>

  <p>This is the home page for the Multirate.Me application.</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
