<% provide(:title, @user.name + " Dashboard") %>

<ul class="breadcrumb">
  <li>
    <a href="#"><%= @user.name %></a> 
    <span class="divider">/</span>
  </li>
  <li class="active">Dashboard</li>
</ul>

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="well">
  <h1>My Reviews</h1>
  <p>List of reviews goes here</p>
</div>

<div class="well">
  <h1>Reviewing</h1>
  <p>List of other's reviews goes here</p>
</div>