<% provide(:title, @user.name + " Dashboard") %>

<ul class="breadcrumb">
  <li>
    <a href="#"><%= @user.name %></a> 
    <span class="divider">/</span>
  </li>
  <li class="active">Dashboard</li>
</ul>

<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <div class="span8">
    <div class="well">
      <h2>My Reviews <small>Reviews of me</small></h2>
      <% if @user.reviews.any? %>
        <ol class="reviews">
          <%= render @reviews %>
        </ol>
      <% end %>
      <%= link_to "Create +", new_review_path, class: "btn btn-primary" %>
      
    </div>

    <div class="well">
      <h2>Reviewing <small>Who I am reviewing</small></h2>

    </div>
  </div>
</div>