<%= form_for(@review, html: {class: "well"}) do |f| %>
  <%= render 'fields', f: f %>
  
  
  <div class="form-actions">
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <%= link_to "Cancel", dashboard_path(@current_user), class: "btn" %>
  </div>
<% end %>
