<% provide(:title,'Create Review')%>

<%= render 'shared/breadcrumb' %>

<div class="page-header">
  <h1>Start A New Review</h1>
</div>

<div class="row">
  <div class="span8">
      <%= render 'new_form' %>
    </div>
</div>

